body{
    background-color: papayawhip;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    color:palevioletred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration:underline peachpuff;
    letter-spacing: 5px;
}

.parrafo_con_color{
    color: orange;
}


.google_fonts {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

img {
    width: 400px;
    height: 300px;
}

.card{
    background-color: bisque;
    width: 500px;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.card img{
    max-width: 100%;
}

li{
    display: inline;
}

.contenedor_padre{
    background-color: white;
    display: flex;
    justify-content:space-between;
    height: 500px;
    flex-wrap: wrap;
}

@media screen and (max-width:800px) {
    header{
    flex-direction: column;
    }
    h3{
        flex-direction: column;
    }
    
    .card{
        width: 400px;
        height: 210px;
        margin: 11px;
    }
img{
    height: 100px;
    width: 300px;
}
h2{
    font-size: small;
}
p{
    font-size: small;
}
li{
    text-align: center;
    font-size: smaller;
    padding: 1px;
}
button{
    height: 20px;
    width: 100px;
}
    }

    h6{
        text-align: center;
        font-size: medium;
    }

.contenedor_madre{
    background-color: white;
    display: flex;
    justify-content:space-between;
    height: 540px;
    flex-wrap: wrap;
}

footer p{
    text-align: center;
}

.instagram_img{
    width: 40px;
    height: 40px;
}

.mail_img{
    width: 50px;
    height: 50px;
}

.mail_cuadro{
    background-color: bisque;
    display: flex;
    justify-content:space-between;
    height: 50px;
    flex-wrap: wrap;
}

.instagram_cuadro{
    background-color: bisque;
    display: flex;
    justify-content:space-between;
    height: 50px;
    flex-wrap: wrap;
}

li{
    padding: 1px;
}